<!DOCTYPE html>
<html>

<head>
    <title>XPSystem</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body class='front'>
    <div id='app'><%= javascript_pack_tag 'main' %></div>
</body>

</html>